* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NavBar CSS */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: maroon;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 1vh;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: lightblue;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
width: 25px;
height: 3px;
background-color: rgb(226, 226, 226);
margin: 5px;
transition: all 0.3s ease;
}

@media screen and (max-width:796px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: maroon;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}


.nav-active {
  transform: translatex(0%);
  z-index: 1;
}

@keyframes navLinksFade {
  from{
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Slideshow Component */
/* Carousel Styling */

img {
  height: 800px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  margin: 1rem 5rem 5rem 5rem;
}

@media screen and (max-width:742px) and (min-width: 400px) {
 .carousel-container img {
   height: 250px;
 }
}

@media screen and (max-width:1050px) and (min-width: 743px) {
  .carousel-container img {
    height: 600px;
  }
  .rec-arrow-left {
    display: none;
  }
  .rec-arrow-right {
    display: none;
  }
 }



article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}
article h2 {
  margin-bottom: 2vh;
}

/* Footer Css */
.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: rgb(253, 56, 56);
}

.main-footer li {
  list-style: none;
  text-decoration: none;
}

.main-footer a {
  text-decoration: none;
}

/* Products Disc Styling */

.disc-container {
  margin: 2vh;
  padding: 2vh;
}
.disc-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.disc-container img {
  height: 250px;
}